img{
    padding-top: 100px;
    padding-left: 28%
}
.robo{
    background-color: sandybrown;
    // padding-bottom: 206px;
    height: 720px;
}
.btn{
    margin-left: 43%;
    font-weight: bold;
}
.setup{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    color: sienna;
}
.punchline{
    padding-top: 30px;
    font-weight: bold;
    color: sienna;
    text-align: center;
}